@font-face {
    font-family: shoreline-font;
    src: url(Shoreline.otf);
}

.small-image {
    height: 20px;
    width: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.main-container {
    height: 100%;
    top: 0%;
    position: relative;
    display: block;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/09/71/coffee-stained-paper-vector-750971.jpg);
    background-size: cover;
    /* Resize the background image to fit the container */
    background-position: center;
    /* Center the background image */
}

.title-container {
    position: absolute;
    top: 5%;
    height: 25%;
    left: 20%;
    width: 60%;
    display: flex;
    z-index: 1;
}

@keyframes float {
	0% {
		text-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		text-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		text-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.title {
    flex: 1;
    font-family: "Optima";
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1000%;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
    animation: float 6s ease-in-out infinite;
}



.description-container {
    position: absolute;
    top: 32.5%;
    height: 5%;
    left: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
/* "find fanfictions that match your favorite webnovels" */
.description {
    font-family: optima;
    font-size: 150%;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-container {
    top: 72.5%;
    height: 30%;
    left: 20%;
    width: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.horizontal, .search-box {
    padding: 10px;
    border-radius: 4px;
    box-shadow: inset;
    display: flex;
    gap: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* User typed */
.search-bar {
    background: none;
    width: 80%;
    border-width: 0px 0px 3px 0px;
    font-family: arial;
    font-size: large;
    border-color: black;
}

.search-bar:focus {
    outline: none;
    background: none;
    border-width: 0px 0px 4px 0px;
    border-color: black;
}

#button-box {
    background-color: rgba(83, 77, 77, 0.187);
    width: 50%;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* Lists the dropdown */
.title-button {
    width: 100%;
    height: 20px;
    overflow: clip;
    background: none;
    border-style: none;
    font-family: optima;
    font-weight: bold;
}

.title-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.large-image {
    height: 100%;
}

.next-container {
    top: 40%;
    left: 35%;
    width: 30%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'kanit', "sans-serif";
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    color: black;
    padding: 20px;
    border-radius: 30px;
}

.next-container {
    display: none;
    background-color: rgba(255, 246, 230, 0.579);
}

.book-img-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 32.5%;
    width: 50%;
    left: 25%;
    height: 40%;
}

.prompt-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

/* Your selected novel */
.prompt {
    font-family: Optima;
    font-size: 130%;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selected-title {
    font-size: 150%;
    font-family: optima;
    font-weight: bold;
    /* font-variant: small-caps; */
    color:rgb(71, 2, 2)
}

.next {
    display: flex;
    justify-content: center;
    background: none;
}

.next-button {
    border-style: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.arrow {
    margin-top: 5px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    animation: wiggle 2s linear infinite;
}

.arrow:hover {
    /* transform: translateY(-3px);
    transform: translateX(-3px); */
    transition: 0.5s;
    background-color: rgba(133, 126, 126, 0.75);
}

footer {
    background-color: black;
    width: 100%;
    height: 2.5%;
}

#search-title {
    display: flex;
}

#search-descr {
    display: none;
}

/* "search for a web novel" */
#search-title , #search-descr {
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 150%;
    font-family: 'Kanit', sans-serif;
}

/* Search by description */
#search-toggle {
    border-radius: 10px;
    border-style: solid;
    background: none;
    border-color: black;
    font-family: 'Kanit', sans-serif;
    font-size: 70%;
    transition: 0.5s;
    width: 70%;
}

#search-toggle:hover, #submit-descr:hover {
    background-color: black;
    color: rgb(215, 193, 125);
    transition:0.5s;
}

#submit-descr {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-color: black;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}